<ng-container *ngIf="!appState.me; else loggedTemplate">
  <tmp-header-none-login class="w-full relative z-10" (requestSignIn)="requestSignIn()" (requestSignUp)="requestSignUp()"
    (backHome)="backHome()"></tmp-header-none-login>
</ng-container>

<ng-template #loggedTemplate>
  <tmp-header-logged class="w-full relative z-10" [user]="appState.me" (requestSearchChanges)="requestSearchChanges($event)" (requestLogout)="requestLogout()" (backHome)="backHome()"
    (requestSearching)="requestSearching()"></tmp-header-logged>
</ng-template>