<div class="mb-4 border-b border-gray-100 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent"
        role="tablist">
        <li data-te-ripple-init class=" transition duration-200 border-b rounded-t-lg {{tab.isActive ? 'text-primary border-primary' : 'border-transparent'}}" *ngFor="let tab of tabs">
            <button (click)="selectTab(tab.id)"
                class="inline-block p-4">{{tab.title}}</button>
        </li>
        <!-- <li class="mr-2" data-te-ripple-init>
            <button
                class="inline-block p-4 transition duration-200 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Dashboard</button>
        </li>
        <li class="mr-2" data-te-ripple-init>
            <button
                class="inline-block p-4 transition duration-200  border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Settings</button>
        </li>
        <li data-te-ripple-init>
            <button
                class="inline-block p-4 transition duration-200 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Contacts</button>
        </li> -->
        <li>
            <div class="inline-block p-4 w-12 h-full" (click)="addTab()">
                <mat-icon class="text-gray-300 cursor-pointer" svgIcon="ic_plus"></mat-icon>
            </div>
        </li>
    </ul>

</div>