nav {
    min-height: 65px;
    height: 65px;
}

.nav-content {
    min-width: 80%;
    width: 80%;
}

@media screen and (max-width: 998px) {
    .nav-content {
        min-width: 90%;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .nav-content {
        min-width: 92%;
        width: 92%;
    }
}



@media screen and (max-width: 480px) {
    .nav-content {
        min-width: 95%;
        width: 95%;
    }
}