
.mat-mdc-menu-content {
    padding: 0px !important;

    .mat-mdc-menu-item {
        font-size: 12px;
        min-height: 40px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    margin-top: 8px; 
    min-width: 220px !important;
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}