#main-content {
    min-width: 85%;
    width: 85%;
}

@media screen and (max-width: 998px) {
    #main-content {
        min-width: 90%;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #main-content {
        min-width: 92%;
        width: 92%;
    }
}



@media screen and (max-width: 480px) {
    #main-content {
        min-width: 95%;
        width: 95%;
    }
}