<div
    class="relative mt-16 overflow-hidden bg-cover bg-no-repeat bg-[50%] h-[500px] bg-[url('https://tecdn.b-cdn.net/img/new/standard/city/078.jpg')]">
    <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed bg-[hsla(0,0%,0%,0.75)]">
        <div class="flex h-full items-center justify-center">
            <div class="px-6 text-center text-white md:px-12">
                <h1 class="mt-6 mb-16 mobile:text-xl sm:text-3xl font-bold tracking-tight md:text-4xl xl:text-5xl">
                    Hãy đưa câu chuyện của bạn <br /><span>đến với tất cả mọi người</span>
                </h1>
                <a (click)="start.emit()" class="mb-2 mr-3 text-sm inline-block rounded-lg border border-neutral-50 px-[46px] pt-[14px] pb-[12px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 md:mr-2 md:mb-0"
                    data-te-ripple-init data-te-ripple-color="light" role="button">Bắt đầu</a>
            </div>
        </div>
    </div>
</div>