<section class="bg-white dark:bg-gray-900">  
    <div class="mx-auto max-w-screen-xl">
        <div class="grid gap-8 lg:grid-cols-2">
            <article class="p-4 bg-white  dark:bg-gray-800 {{shadow ? 'shadow-sm mb-3' :''}} rounded-lg">
                <div class="w-full flex">
                    <div class="w-10/12 mobile:w-9/12">
                        <ng-container [ngTemplateOutlet]="titleTemplate || defaultTitleTemp"
                            [ngTemplateOutletContext]="{item: item, index: index}"></ng-container>
                        <ng-container [ngTemplateOutlet]="descriptionTemplate || defaultDescriptionTemp"
                            [ngTemplateOutletContext]="{item: item, index: index}"></ng-container>
                    </div>
                    <ng-container [ngTemplateOutlet]="thumbnailTemplate || defaultThumbnailTemp"
                        [ngTemplateOutletContext]="{item: item, index: index}"></ng-container>
                </div>
                <ng-container [ngTemplateOutlet]="authorTemplate || defaultAuthorTemp"
                    [ngTemplateOutletContext]="{item: item, index: index}"></ng-container>
                <ng-container [ngTemplateOutlet]="createAtTemplate || defaultCreateAtTemplate"
                    [ngTemplateOutletContext]="{item: item, index: index}"></ng-container>
            </article>
        </div>
    </div>
</section>

<ng-template #defaultAuthorTemp let-item="item">
    <div class="flex justify-between items-center">
        <div class="flex items-center space-x-4">
            <img class="w-8 h-8 rounded-full" src="{{item.author.avatarUrl}}" alt="Jese Leos avatar" />
            <span class="font-medium text-gray-800 dark:text-white text-sm mobile:text-sm">
                {{item.author.name}}
            </span>
        </div>
    </div>
</ng-template>

<ng-template #defaultCreateAtTemplate let-item="item">
    <div class="flex justify-between items-center mt-5 text-gray-500">
        <span
            class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
            Angular
        </span>
        <span class="text-sm ">14 ngày trước</span>
    </div>
</ng-template>

<ng-template #defaultTitleTemp let-item="item">
    <h2
        class="mb-2 text-xl sm:text-lg md:text-lg mobile:text-lg font-bold tracking-tight text-gray-600 dark:text-white">
        <a class="cursor-pointer hover:text-gray-500 transition duration-200">{{item.title}}</a>
    </h2>
</ng-template>

<ng-template #defaultDescriptionTemp let-item="item">
    <div class="mobile:hidden w-full pr-2">
        <p class="description mb-5 font-light text-gray-500 dark:text-gray-400 ">
            {{item.description}}</p>
    </div>
</ng-template>

<ng-template #defaultThumbnailTemp let-item="item">
    <div class="w-2/12 mobile:w-3/12 flex items-center">
        <img class="w-full rounded-lg" src="https://miro.medium.com/v2/resize:fill:400:268/0*_82itPxsjjcCsFb4"
            alt="Jese Leos avatar" />
    </div>
</ng-template>