<div class="card-footer d-flex justify-content-between mt-4">
    <div class="card-footer__left d-flex align-items-center">
        <div class="card-footer__left__comment-icon d-flex align-items-center">
            <span class="pointer" nz-icon nzType="comment" nzTheme="outline"></span>
            <span class="number">28</span>
        </div>
    </div>
    <div class="card-footer__right">
        <img class="card-footer__right__bookmark-add pointer" src="assets/icons/ic_bookmark_add.svg" />
    </div>
</div>